aiofiles==24.1.0
aiohappyeyeballs==2.4.3
aiohttp==3.11.0
aiosignal==1.3.1
altair==5.5.0
altgraph==0.17.4
annotated-types==0.7.0
anyio==4.6.2.post1
arrow==1.3.0
async-timeout==5.0.1
attrs==24.2.0
bidict==0.23.1
binaryornot==0.4.4
black==24.8.0
blinker==1.9.0
Brotli==1.1.0
cachetools==5.5.2
certifi==2024.8.30
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
cookiecutter==2.6.0
coverage==5.5
deprecation==2.1.0
docutils==0.21.2
exceptiongroup==1.2.2
eyed3==0.9.7
fastapi==0.115.5
filetype==1.2.0
flet==0.27.4
flet-cli==0.27.4
flet-desktop==0.27.4
frozenlist==1.5.0
gitdb==4.0.12
GitPython==3.1.44
h11==0.14.0
httpcore==1.0.6
httptools==0.6.4
httpx==0.27.2
idna==3.8
ifaddr==0.2.0
itsdangerous==2.2.0
Jinja2==3.1.4
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
macholib==1.16.3
markdown-it-py==3.0.0
markdown2==2.5.1
MarkupSafe==3.0.2
mdurl==0.1.2
multidict==6.1.0
mutagen==1.47.0
mypy-extensions==1.0.0
narwhals==1.29.0
nicegui==2.5.0
numpy==2.2.3
oauthlib==3.2.2
orjson==3.10.11
packaging==24.1
pandas==2.2.3
pathspec==0.12.1
pillow==11.1.0
platformdirs==4.3.2
propcache==0.2.0
protobuf==5.29.3
pscript==0.7.7
pyarrow==19.0.1
pycryptodomex==3.20.0
pydantic==2.9.2
pydantic_core==2.23.4
pydeck==0.9.1
Pygments==2.18.0
pyinstaller==6.12.0
pyinstaller-hooks-contrib==2025.1
pypng==0.20220715.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-engineio==4.10.1
python-multipart==0.0.17
python-slugify==8.0.4
python-socketio==5.11.4
pytz==2025.1
PyYAML==6.0.2
qrcode==7.4.2
referencing==0.36.2
repath==0.9.0
requests==2.32.3
rich==13.9.4
rpds-py==0.23.1
simple-websocket==1.1.0
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
starlette==0.41.2
tenacity==9.0.0
text-unidecode==1.3
toml==0.10.2
tomli==2.0.1
tornado==6.4.2
types-python-dateutil==2.9.0.20241206
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.2.2
vbuild==0.8.2
watchdog==4.0.2
watchfiles==0.24.0
websockets==13.0.1
wsproto==1.2.0
yarl==1.17.1
yt-dlp==2025.6.30
